body{
    background-image:url(../imagens/1ad76db8a479ca1470282f7986b2ad6b.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-width: 100vw;
    background-position: top;
    background-repeat: no-repeat;
    background-size:cover; 

}

 h1{
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    margin-left: 10px;
}

form{
    display: block;
    align-items: center;
    align-items: center;
    justify-content: center;
}


section{
    font-family: Arial, Helvetica, sans-serif;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    position: relative;
    max-width: 500px;
    backdrop-filter: blur(55px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 4rem;
}

p{
    color: #fff;
    margin-left: 0.8rem;
    font-size: 1.05rem;
    font-weight: 600;
}

.seta a{
    margin-left: -2rem;
    cursor: pointer;
    color: #fff;
    size-adjust: 100px;
    transition: all 0.3s ease-in-out;
    font-size: 35px;
}

.seta a:hover{
    color: rgba(113, 33, 241, 0.678);
}

.inputbox{
    text-align: center;
    align-items: center;
    justify-content: center;
}

.inputbox label{
    color: #fff;
    margin-left: 0.8rem;
    font-size: 1.05rem;
    font-weight: 600;
}

.inputbox input{
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 40px;
    padding: 3px 5px 3px 5px;
    display: block;
    margin: 5px;
    margin-bottom: 0.8rem;
    height: 21px;
    border-color: rgba(75, 16, 131, 0.671);
}
 
.b1{
    width: 183px;
    border-radius: 40px;
    height: 30px;
    cursor: pointer;
    font-size: 1.1rem;
    border: none;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    color:rgb(113, 33, 241);
    padding: 3px 5px 3px 5px;
    margin-left: 5px;
}

.b1:hover{
    background-color: rgba(113, 33, 241, 0.678);
    color: #fff;
}

.b2{
    width: 120px;
    border-radius: 40px;
    height: 30px;
    cursor: pointer;
    font-size: 0.9rem;
    border: none;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    color:rgb(113, 33, 241);
    padding: 3px 5px 3px 5px;
    margin-left: 7px;
}

.b2:hover{
    background-color: rgba(113, 33, 241, 0.678);
    color: #fff;
}

.button{
    text-align: center;
    justify-content: center;
}